*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins" ;
    font-weight: 400;
 background: var(--bg-color);
  overflow: hidden;
  color: var(--text-color);
}


a{
    text-decoration: none;
    color: var(--color-base);
}
li{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}