<div class="hero_block">
    <div class="container_button">
        <button class="color_button" type="button" data-color="black"></button>
        <button class="color_button" type="button" data-color="pink"></button>
        <button class="color_button" type="button" data-color="grey"></button>
        <button class="color_button" type="button" data-color="red"></button>
        <button class="color_button" type="button" data-color="brown"></button>
        <button class="color_button" type="button" data-color="white"></button>
    </div>
    <div class="hero_img-block">
        <img class="hero_img" src="/src/images/bagBlack.png" alt="">
    </div>
</div>